<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/main.css">
    <title>DNS Checker</title>
    <style>
        .error-text {
            white-space: pre-wrap;
            color: red;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>DNS Checker</h1>
        <form action="/check" method="post">
            <label for="domain">ドメイン名：</label>
            <input type="text" id="domain" name="domain" required>
            <button type="submit">チェック</button>
        </form>
        <form action="/check" method="post">
            <label for="ip_address">IP Address：</label>
            <input type="text" id="ip_address" name="ip_address" required>
            <button type="submit">チェック</button>
        </form>
    
        <div id="result">
            {% if result %}
                <h2>Domain: {{ result['domain'] }}</h2>
                <div class="status">
                    <p>IP Address: {{ result['ip_address'] }}</p>
                </div>
                <h2>A Records:</h2>
                <div class="status">
                    <ul>
                        {% for a_record in result['a_records'] %}
                            <li>
                                {% if "Aレコードが見つかりません" in a_record %}
                                    <p class="error-text">{{ a_record }}</p>
                                {% else %}
                                    {{ a_record }}
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <h2>AAAA Records:</h2>
                <div class="status">
                    <ul>
                        {% for aaaa_record in result['aaaa_records'] %}
                            <li>
                                {% if "AAAAレコードが見つかりません" in aaaa_record %}
                                    <p class="error-text">{{ aaaa_record }}</p>
                                {% else %}
                                    {{ aaaa_record }}
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <h2>CNAME Records:</h2>
                <div class="status">
                    <ul>
                        <li>
                            {% if "CNAMEレコードが見つかりません" in result['cname_records'] %}
                                <p class="error-text">{{ result['cname_records'] }}</p>
                            {% else %}
                                {{ result['cname_records'] }}
                            {% endif %}
                        </li>
                    </ul>
                </div>
                <h2>MX Records:</h2>
                <div class="status">
                    <ul>
                        {% for mx_record in result['mx_records'] %}
                            <li>
                                {% if "MXレコードが見つかりません" in mx_record %}
                                    <p class="error-text">{{ mx_record }}</p>
                                {% else %}
                                    {{ mx_record }}
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>    
                </div>
                <h2>NS Records:</h2>
                <div class="status">
                    <ul>
                        {% for ns_record in result['ns_records'] %}
                            <li>
                                {% if "NSレコードが見つかりません" in ns_record %}
                                    <p class="error-text">{{ ns_record }}</p>
                                {% else %}
                                    {{ ns_record }}
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <h2>PTR Records:</h2>
                <div class="status">
                    <ul>
                        {% for ptr_record in result['ptr_records'] %}
                            <li>
                                {% if "PTRレコードが見つかりません" in ptr_record %}
                                    <p class="error-text">{{ ptr_record }}</p>
                                {% else %}
                                    {{ ptr_record }}
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <h2>TXT Records:</h2>
                <div class="status">
                    <ul>
                        {% for txt_record in result['txt_records'] %}
                            <li>
                                {% if "TXTレコードが見つかりません" in txt_record %}
                                    <p class="error-text">{{ txt_record }}</p>
                                {% else %}
                                    {{ txt_record }}
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul> 
                </div>
                <h2>SOA Records:</h2>
                <div class="status">
                    <ul>
                        {% for soa_record in result['soa_records'] %}
                            <li>
                                {% if "SOAレコードが見つかりません" in soa_record %}
                                    <p class="error-text">{{ soa_record }}</p>
                                {% else %}
                                    {{ soa_record }}
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>    
    </div>
</body>
</html>
