<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/main.css">
    <title>DNS Checker</title>
</head>
<body>
    <div class="container">
        <h1>DNS Checker</h1>
        <form action="/check" method="post">
            <label for="domain">ドメイン名：</label>
            <input type="text" id="domain" name="domain" required>
            <button type="submit">チェック</button>
        </form>
    
        <div id="result">
            {% if result %}
                <h2>Domain: {{ result['domain'] }}</h2>
                <div class="status">
                    <p>IP Address: {{ result['ip_address'] }}</p>
                </div>
                <h2>A Records:</h2>
                <div class="status">
                    <ul>
                        {% for a_record in result['a_records'] %}
                            <li>{{ a_record }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <h2>AAAA Records:</h2>
                <div class="status">
                    <ul>
                        {% for aaaa_record in result['aaaa_records'] %}
                            <li>{{ aaaa_record }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <h2>CNAME Records:</h2>
                <div class="status">
                    <p>{{ result['cname_records'] }}</p>
                </div>
                <h2>MX Records:</h2>
                <div class="status">
                    <ul>
                        {% for mx_record in result['mx_records'] %}
                            <li>{{ mx_record }}</li>
                        {% endfor %}
                    </ul>    
                </div>
                <h2>NS Records:</h2>
                <div class="status">
                    <ul>
                        {% for ns_record in result['ns_records'] %}
                            <li>{{ ns_record }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <h2>PTR Records:</h2>
                <div class="status">
                    <ul>
                        {% for ptr_record in result['ptr_records'] %}
                            <li>{{ ptr_record }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <h2>TXT Records:</h2>
                <div class="status">
                    <ul>
                        {% for txt_record in result['txt_records'] %}
                            <li>{{ txt_record }}</li>
                        {% endfor %}
                    </ul> 
                </div>
                <h2>SOA Records:</h2>
                <div class="status">
                    <ul>
                        {% for soa_record in result['soa_records'] %}
                            <li>{{ soa_record }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>    
    </div>
</body>
</html>
